.clearfix {
  display: block;
  clear: both;
}

.wrapper {
  position: relative;
}

.color1 {
  color: #e91e63;
}

.item-container {
  border: 5px solid #fff;
  padding: 12px;
  background: rgb(60, 60, 60);
  transition: all 0.2s linear;
  border-radius: 5px;
}

.item-container:hover {
  background: #000000db;
  box-shadow: 1px 1px 20px -6px #1b1b1b;
}

.item-category a {
  float: right;
  background: #e91e63;
  padding: 4px;
  color: #fff;
}

.item-date {
  float: left;
  padding: 4px;
  color: #fff;
}

.icon img {
  border-radius: 58%;
  height: 150px;
  border: 4px solid #fff;
  width: 150px;
  transition: all 0.2s linear;
}

.item-container:hover .icon img {
  width: 160px;
  height: 160px;
}

.sd3d {
  color: #fff;
  text-align: center;
  font-size: 11px;
  margin-top: 21px;
}

.sd3d a {
  color: #e91f63;
  text-align: center;
  font-size: 11px;
  margin-top: 21px;
}

.input {
  margin-top: 4px;
  margin-bottom: 4px;
}